@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  @apply bg-gray-100;
}
